ul {
     -webkit-transition-duration: 0.5s; /* Safari */
    -o-transition-duration: 0.5s;
    -moz-transistion-duration: 0.5s;
    transition-duration: 0.5s;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.5s; /* Safari */
    -o-transition-duration: 0.5s;
    -moz-transistion-duration: 0.5s;
    transition-duration: 0.5s;
    
}

h1 {
  color:black;
  background-color: #00d300;
  padding: 16px;    
}

body {
    -webkit-transition-duration: 0.5s; /* Safari */
    -o-transition-duration: 0.5s;
    -moz-transistion-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: black;
    color: #00d300;
    font-family: "Lucida Console";
    
}

/* Change the link color on hover */
li {
    color: black;
    background-color: #00d300;
    
}
li a:hover {
    background-color: black;
    color: #00d300;
}
.active {
    background-color: #065ae0;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: black;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */

    
}

.button {
     text-decoration: none;
    background-color: #00d300; /* Green */
    border-radius: 12px;
    color: black;
    border: 2px solid #00d300; /* Green */
    padding: 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.5s; /* Safari */
    -o-transition-duration: 0.5s;
    -moz-transistion-duration: 0.5s;
    transition-duration: 0.5s;
   
}
.button2 {
     text-decoration: none;
    background-color: #00d300; /* Green */
    border-radius: 12px;
    color: black;
    border: 2px solid #00d300; /* Green */
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.5s; /* Safari */
    -o-transition-duration: 0.5s;
    -moz-transistion-duration: 0.5s;
    transition-duration: 0.5s;
   
}

.button:hover {
    background-color: black; /* Green */
    color: #00d300;
}

.button2:hover {
    background-color: black; /* Green */
    color: #00d300;
}

body {

    opacity: 1;
}

table {
    width: 100%;
}

th {
    text-align: center;
}
th, td {
    padding: 15px;
    border-bottom: 1px solid #00d300;
    text-align: center;
}

td {
    
    -webkit-transition-duration: 0.5s; /* Safari */
    -o-transition-duration: 0.5s;
    -moz-transistion-duration: 0.5s;
    transition-duration: 0.5s;
}

td:hover {
    background-color: #393a39;
    
}


/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 15%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 10px;   
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.4; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 10px; /* Specified height */
        border-radius: 10px;   

    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
        border-radius: 10px;   
height: 10px; /* Specified height */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
